<!doctype html>
<html lang="en">
  <head>
      {% extends 'index.html' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Singup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <h1>Create your Acount !</h1>
   <div class="container">
    <form>
        <div class="mb-3">
            <label for="Username" class="form-label">Username</label>
            <input type="password" class="form-control" id="Username">
        </div>
        <div class="mb-3">
            <label for="Userfirstname" class="form-label">User's First name</label>
            <input type="password" class="form-control" id="Userfirstname">
        </div>
        <div class="mb-3">
            <label for="userlastname" class="form-label">User's Last name</label>
            <input type="password" class="form-control" id="userlastname">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
       <div class="mb-3">
            <label for="confirmpassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmpassword">
        </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
 </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>